<html>
    <body>
        <form action="/create" method="POST">
            <label for="pokemon">POKEMON NAME:</label>
            <input type="text" name="pokemon" id="pokemon">
            <label for="trainer">TRAINER:</label>
            <input type="text" name="trainer" id="trainer">
            <label for="type">TYPE:</label>
            <SELECT name="type" id="type">
                <option value="fire">FIRE</option>
                <option value="fire">WATER</option>
                <option value="fire">GRASS</option>
                <option value="fire">ROCK</option>
                <option value="fire">ELECTRIC</option>
            </SELECT>
            <button type="submit">SUBMIT</button>
        </form>
    </body>
</html>